In [50]:
def p2b(**a):
  sum=0
  for key,value in a.items():
      sum=+value
  print(sum)
  
p2b(dhoni=54,kohli=69,jadeja=45)

45